@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}



.glassmorphic {
background: linear-gradient(180deg, rgba(49, 61, 77, 0.37) 0%, rgba(22, 27, 34, 0.37) 100%);
border: 1px solid rgba(88, 88, 88, 0.533333);
box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3), 0px 5px 10px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(16px);
-webkit-backdrop-filter: blur( 10px );
}



.gradient-circle {
  background: linear-gradient(180deg, #7B4EE6 0%, #442B80 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

html {
  scroll-behavior: smooth;
}


.card {
  border: 0.5px solid rgba(88, 88, 88, 0);
}


.project-section {
  background: #161B22;
  border: 1px solid rgba(88, 88, 88, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-section-border {
  border-top: 1px solid rgba(88, 88, 88, 0.3);
}

.card:hover > .project-title {
  color: #7B4EE6;
  transition: 0.2s ease-in-out;
}

.card-image {
  border: 3px solid rgba(88, 88, 88, 0.3);
}

input, textarea {
  background-color: rgba(255, 255, 255, 0.10);
}

.about-img {
  width: 200%;
  height: 200%;
}

.about-card {
  aspect-ratio: 5/7;
  width: 20rem;
}

@media (min-width: 1024px) {
  .card:hover {
    background: linear-gradient(180deg, rgba(49, 61, 77, 0.37) 0%, rgba(22, 27, 34, 0.37) 100%);
    border: 0.5px solid rgba(88, 88, 88, 0.35);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3), 0px 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur( 10px );
    transition: 0.2s ease-in-out;
    
  }
}

@media (min-width: 768px) {
  .img-container {
    background-size: 50%;
  }
}

@media (min-width: 1024px) {
  .img-container {
    background-size: 70%;
  }
}